.burger__info {
    padding: 25px 35px;
    text-align: center;
    background: #f7d794;
    margin: 30px auto 0;
    width: 280px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0, .5);
}
.ingred__item {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.price {
    margin-bottom: 25px;
}
.price span {
    font-weight: bold;
}
.btn {
    padding: 7px 25px;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.ingred__name {
    flex: 1 1 auto;
    text-align: left;
    font-weight: bold;
}
.ingred__less {
    margin-right: 15px;
    background: #fd9644;
}
.ingred__more {
    background: #e77f67;
}